@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #13131f, #6262a9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
